@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Marhey:wght@300..700&display=swap');
/* عربي */
/* font-family: "Amiri", serif; */
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
/* عربي */
/*  font-family: "Marhey", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap');
/* عربي */
/*  font-family: "Playpen Sans Arabic", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
/* font-family: "Noto Sans Arabic", sans-serif; */
/* عربي */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
/*  font-family: "Alexandria", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* انجليزي */
/* font-family: "Oswald", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
/* انجليزي */
/* font-family: "Story Script", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
/* انجليزي */
/* font-family: "Lavishly Yours",cursive; */
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
/* انجليزي */
/* font-family: "Qwitcher Grypen", cursive; */



/* اساسيات المشروع ككل */
:root {
    --main-color: #7a4e3d93;
    --main-color-alt: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(221, 153, 153, 0.663); */
    /* background-color: rgba(255, 205, 244, 0.332); */
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
    background: linear-gradient(135deg, #F5E6D3);
    /* height: 6500px; */
    /* شيلها لقدام */
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "Playpen Sans Arabic", cursive;
    font-weight: bold;
    color: rgba(165, 42, 42, 0.663);
}

/*الجوال  */
@media (max-width:768px) {
    .container {
        width: 100%;
    }

    /* تحديد مكان الشاشة بشكل عام */
}

/* التابلت */
@media (min-width:768px) and (max-width:991px) {
    .container {
        width: 750px;

    }

    /* تحديد مكان الشاشة بشكل عام */

}


/* ايباد */
@media (min-width:992px) and (max-width:1199px) {
    .container {
        width: 970px;
    }

    /* تحديد مكان الشاشة بشكل عام */
}

/* لابتوب  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

    /* تحديد مكان الشاشة بشكل عام */
}


/*   نهاية اساسيات المشروع*/

/* بداية الصفحة الاول  */

/*login1 بداية القسم الاول من صفحة الرئيسية ضمن كلاس  */
.login1 {
    background-color: #7a4e3d93;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 50px;
}

.login1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login1 .container img {
    width: 40px;
    position: relative;
    left: 10px;
}

.login1 .container nav ul {
    display: flex;
}

.login1 .container nav ul a {
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 20px;
    color: rgba(255, 255, 255, 0.812);
    transition: 0.3s;
    font-family: "Alexandria", sans-serif;
}

.login1 .container nav ul a.active,
.login1 .container nav ul a:hover {
    color: var(--main-color-alt);
    background-color: var(--main-color);
    border-radius: 5%;
}

.login1 .container .social {
    display: flex;
    justify-content: space-between;

}

.login1 .container .social i {
    margin: 5px;
    position: relative;
    right: 10px;
    font-size: 17px;
    background-color: var(--main-color);
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.login1 .container .social i:hover {
    background-color: bisque;
    font-size: 35px;
}

/*login1 نهاية القسم الاول من صفحة الرئيسية ضمن كلاس  */


/*hero بداية القسم الثاني من صفحة الرئيسية ضمن كلاس  */
.hero {
    background-color: #eed5bf;
    background-image: url('../imagess/glo.jpg');
    background-repeat: no-repeat;

}

.hero .container .hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero .container .hero-info .hero-title {
    font-family: "Qwitcher Grypen", cursive;
    color: rgb(144, 81, 81);
    align-self: center;
}

.hero .container .hero-info h2 {
    font-family: "Marhey", sans-serif;
    color: rgba(165, 42, 42, 0.663);
    align-self: start;
}

.hero .container .hero-info p {
    font-family: "Marhey", sans-serif;
    align-self: start;
    line-height: 1.7;

}

/* بداية التحديد على حسب مقاسات الشاشات */

/* جوال */
@media (max-width:768px) {
    .login1 .container nav ul a {
        display: block;
        padding: 5px;
        font-size: 12px;
        font-weight: 20px;
        color: rgba(255, 255, 255, 0.812);
        transition: 0.3s;
        font-family: "Alexandria", sans-serif;
        margin-top: 10px;


    }

    .hero {
        background-size: 100% 300px;
        height: 250px;
    }

    /* تحديد ايقونة الصورة */
    .hero .container .hero-info .hero-title {
        position: relative;
        font-size: 50px;
        top: 30px;
        left: 90px;
        /* color: white; */
    }

    /* تحديد العنوان جنب  ايقونة الصورة */
    .hero .container .hero-info h2 {
        font-size: 13px;
        position: relative;
        top: 40px;
        left: 15px;


    }

    /* تحديد الجملة التانية جنب  ايقونة الصورة */

    .hero .container .hero-info p {
        width: 40%;
        position: relative;
        top: 50px;
        font-size: 14px;
        right: 5px;

    }

    /* تحديد الجملة الثالثة جنب  ايقونة الصورة */
}

/* تابلت   */
@media (min-width:768px) and (max-width:991px) {
    .hero {
        background-size: 100% 500px;
    }

    /* تحديد ايقونة الصورة */
    .hero .container .hero-info .hero-title {
        position: relative;
        font-size: 90px;
        bottom: 20px;
        left: 280px;
        color: blueviolet;
    }

    /* تحديد العنوان جنب  ايقونة الصورة */
    .hero .container .hero-info h2 {
        font-size: 200px;
        position: relative;
        bottom: 50px;
        right: 50px;


    }

    /* تحديد الجملة التانية جنب  ايقونة الصورة */

    .hero .container .hero-info p {
        width: 24%;
        position: relative;
        bottom: 20px;
        font-size: 15px;
        right: 65px;
    }

    /* تحديد الجملة الثالثة جنب  ايقونة الصورة */
}

/* ايباد */
@media (min-width:992px) and (max-width:1199px) {
    .hero {
        background-size: 100% 350px;
    }

    /* تحديد ايقونة الصورة */

    .hero .container .hero-info .hero-title {
        position: relative;
        left: 330px;
        font-size: 100px;
        bottom: 20px;
        /* color: rgb(135, 47, 47); */


    }

    /* تزبيط عنوان جنب  ايقونة الصورة */
    .hero .container .hero-info h2 {
        font-size: 21px;
        position: relative;
        bottom: 80px;

    }

    /* تحديد الجملة التانية جنب  ايقونة الصورة */

    .hero .container .hero-info p {
        width: 25%;
        position: relative;
        bottom: 50px;
        font-size: 15px;
        right: 30px;
    }

    /* تحديد القائمة الثالثة جنب  ايقونة الصورة */
}

/* لابتوب  */
@media (min-width:1200px) {
    .hero {
        background-size: 100% 250px;
    }

    /* تحديد ايقونة الصورة */

    .hero .container .hero-info .hero-title {
        position: relative;
        left: 410px;
        font-size: 110px;
        bottom: 20px;

    }


    /* تزبيط عنوان جنب  ايقونة الصورة */
    .hero .container .hero-info h2 {
        font-size: 21px;
        position: relative;
        bottom: 30px;

    }

    /* تحديد الجملة التانية جنب  ايقونة الصورة */

    .hero .container .hero-info p {
        width: 20%;
        position: relative;
        bottom: 20px;
        font-size: 15px;
        right: 30px;
    }

    /* تحديد القائمة الثالثة جنب  ايقونة الصورة */

}

/* نهاية التحديد على حسب مقاسات الشاشات */

/*hero نهاية القسم الثاني من صفحة الرئيسية ضمن كلاس  */


/*services بداية القسم الثالث من صفحة الرئيسية ضمن كلاس  */
.services {
    background-color: #eed5bf;
    padding: 40px 0;

}

.services .container .section-title {
    text-align: center;
    font-family: "Marhey", sans-serif;
    color: rgba(165, 42, 42, 0.663);
    font-size: 37px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.services .container .section-desc {
    text-align: center;
    line-height: 1.8;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 10px 0 0 20px;
    /*وضع مسافة امان بين العنوان الرئيسي والنص نفسه وايضا مسافة امان بين نص والعنوان الثاني  */
}


.services .container .all-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 69px;
    text-align: center;
    cursor: pointer;
    position: relative;
    bottom: 20px;
    transition: 1.5;
    padding: 20px 0;
    /* وضع مسافة امان بين العنوان الرئيسي والنص */
}

.services .container .all-services .service:hover {

    transform: translatey(-10px);
}

.services .container .all-services .service {
    position: relative;
    top: 20px;
    background-color: rgba(140, 81, 81, 0.373);
    border-radius: 50%;
    height: 140%;
    border: 4px solid rgb(102, 79, 79);
    transition: 1.5;
    box-shadow: 0 0 10px white;

}

.services .container .all-services h3 {
    font-family: "Playpen Sans Arabic", cursive;
    position: relative;
    top: 30px;
    font-size: 18px;
    color: rgb(87, 42, 42);
}

.services .container .all-services h3:hover {
    color: black;
}

.services .container .all-services img {
    width: 160px;
    height: 140px;
    position: relative;
    top: 20px;
}

/* بداية التحديد على حسب مقاسات الشاشات */

/* بداية تحديد على مقاس شاشةالجوال   */
@media (max-width:768px) {
    .services .container .section-desc {
        font-size: 15px;
        padding: 0;
    }

    /* تحديد حجم خط النص */
    .services .container .all-services h3 {
        position: relative;
        top: 40px;
        font-size: 17px;
    }

    /*  تحديد حجم العناوين لكل دائرة*/
    .services .container .all-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        justify-content: center;
        width: 100%;
        padding: 10px;
        position: relative;
        left: 35px;

    }

    .services .container .all-services .s {
        position: relative;
        right: 15px;
    }

    /* اقتراب اول 2 دائرة من بعض */

    .services .container .all-services .c {
        position: relative;
        top: 20px;
    }

    /* اقتراب ثاني 2 دائرة من بعض */
    .services .container .all-services .service {
        height: 190px;
        width: 140%;
        border-radius: 60%;


    }

    /* تحديد ارتفاع الدائرة */
    .services .container .all-services img {
        width: 60%;
        height: 90px;
        position: relative;
        top: 30px;
    }

}

/* نهاية تحديد على مقاس شاشة  الجوال*/

/*بداية تحديد على مقاس شاشة   */
@media (min-width:768px) and (max-width:991px) {
    .services .container .section-desc {
        font-size: 25px;
        padding: 0;
    }

    /* تحديد حجم خط النص */
    .services .container .all-services h3 {
        position: relative;
        top: 60px;
        font-size: 29px;
    }

    /*  تحديد حجم العناوين لكل دائرة*/

    .services .container .all-services {
        gap: 200px;
    }

    /* تحديد المسافة بين الدوائر */

    .services .container .all-services .service {
        height: 150%;
        width: 380px;
        position: relative;

    }

    /* تحديد ارتفاع الدائرة */
    .services .container .all-services .s {
        position: relative;
        right: 30px;
    }

    /* اقتراب اول 2 دائرة من بعض */

    .services .container .all-services .c {
        position: relative;
        left: 30px;
    }

    /* اقتراب ثاني 2 دائرة من بعض */

    .services .container .all-services img {
        width: 270px;
        height: 220px;
        position: relative;
        top: 50px;
    }

    /* تحديد حجم الصور ضمن دوائر */

}

/* نهاية تحديد على مقاس شاشة  */

/* بداية تحديد على مقاس شاشة  الايباد*/
@media (min-width:1025px) and (max-width:1280px) {
    .services .container .all-services .service {
        width: 230px;
    }

    /* تحديد ارتفاع الدائرة */
    .services .container .all-services {
        gap: 45px;
    }

    /* تحديد مسافة بين الدوائر */
}

/* نهاية تحديد على مقاس شاشة  الايباد*/

/* نهاية التحديد على حسب مقاسات الشاشات */

/*services نهاية القسم الثالث من صفحة الرئيسية ضمن كلاس  */

/*Products بداية القسم الرابع من صفحة الرئيسية ضمن كلاس  */
.Products {
    background-color: #eed5bf;
    padding: 1px;


}

.Productts {
    padding: 40px 0 20px 0;
}

/* كلاس مخصص لوضع مسافة للعنوان الرئيسي مع ترك فاصل مع العنوان الثاني */
.Products .container .title {
    display: flex;
    justify-content: center;
    font-family: "Marhey", sans-serif;
    color: rgba(165, 42, 42, 0.663);
    font-size: 40px;
    padding: 30px 0;
    position: relative;
    top: 20px;
}

.Products .container .address {
    color: rgb(87, 42, 42);
    font-family: "Playpen Sans Arabic", cursive;
    font-size: 25px;
    padding: 30px 0;
    margin-bottom: 20px;
    margin-top: 20px;

}

.Products .container .all-Products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 65px;
    text-align: center;
    cursor: pointer;

}

.Products .container .all-Products .Product {
    background-color: rgba(218, 204, 215, 0.347);
    padding-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5;
    position: relative;
    box-shadow: 10px 10px 10px rgba(19, 19, 19, 0.347);
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.Products .container .all-Products .Product:hover {
    scale: 1.1;
    transform: translate(2px);
}

/* بداية الحركة أضافية  عمل ستارة للقوائم الخاصة بالمنتجات*/
.Products .container .all-Products .Product .teatt {
    background-color: rgba(0, 0, 0, 0.604);
    color: white;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 4.5s;
    font-family: "Playpen Sans Arabic", cursive;
}

.Products .container .all-Products .Product:hover .teatt {
    right: 100%;
}


.Products .container .all-Products .Product img {
    width: 100%;

}

.Products .container .all-Products .Product .Products-title {
    color: rgb(87, 42, 42);
    font-family: "Playpen Sans Arabic", cursive;
    font-size: 18px;
    line-height: 1.8;

}

.Products .container .all-Products .Product p {

    line-height: 1.3;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;

}

.Products .container .all-Products .Product .Products-price {
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 190px; */
    font-size: 19px;
    color: rgb(113, 31, 31);
    font-family: "Playpen Sans Arabic", cursive;
    font-weight: 500;
}

/* بداية التحديد على حسب مقاسات الشاشات */

/*بداية تحديد على مقاس شاشة جوال  */

/*  استعلام وسائط للشاشات الصغيرة (الجوالات) */
@media (max-width: 767px) {
    .Productts {
        padding: 0px;
    }

    .Products .container .address {
        font-size: 18px;

    }

    /* تحديد حجم العنوان الثاني */
    .Products .container .all-Products .Product .Products-title {
        font-size: 12px;
        padding: 4px;

    }

    /*  تحديد حجم العنوان*/

    .Products .container .all-Products .Product .Products-price {
        font-size: 15px;
        padding-top: 12px;
    }

    .Products .container .all-Products {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 10px;
    }

    .Products .container .all-Products .Product p {

        line-height: 1.3;
        font-size: 14px;
        padding-left: 11px;
        padding-right: 11px;
        font-weight: 700;


    }

}

/*نهاية تحديد على مقاس شاشة جوال  */

/*بداية تحديد على مقاس شاشة جوال  */
@media (min-width:768px) and (max-width:991px) {
    /* .Products .container .all-Products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 60px;
        padding: 30px;
    } */

    /* تحديد حجم القوائم والمسافة بينهم */
    /* .Products .container .all-Products .Product .Products-title {
        font-size: 22px;
    } */

    /*  تحديد حجم العنوان*/
    /* .Products .container .all-Products .Product p {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.6;
    } */

    /* تحديد حجم خط الوصف */
    /* .Products .container .all-Products .Product .Products-price {
        padding-top: 10px;
        font-size: 24px;
    } */

    /* تحديد نص السعر */
    /* .Products .container .all-Products .Product .Products-like {
        font-size: 28px;

    } */

    /* تحديد حجم  المفضلة */

    /* .Products .container .all-Products .Product .basket {
        width: 80%;
        font-size: 26px;
    } */

    /* تحديد حجم مربع السلة */
}

/*نهاية تحديد على مقاس شاشة جوال  */

/* بداية تحديد على مقاس شاشة  ايباد */
@media (min-width:1025px) and (max-width:1280px) {
    .Products .container .all-Products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 46px;
    }

    /* تحديد حجم القوائم والمسافة بينهم */
    .Products .container .all-Products .Product .Products-title {
        font-size: 16px;
    }

    /*  تحديد حجم العنوان*/
    .Products .container .all-Products .Product p {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
    }

    /* تحديد حجم خط الوصف */
    .Products .container .all-Products .Product .Products-price {
        font-size: 17px;
    }

    /* تحديد نص السعر */
    .Products .container .all-Products .Product .basket {
        width: 80%;
        font-size: 19px;
    }

    /* تحديد حجم مربع السلة */
}

/* نهاية تحديد على مقاس شاشة  ايباد*/

/* تهاية التحديد على حسب مقاسات الشاشات */

/*Products نهاية القسم الرابع من الصفحة الرئيسية ضمن كلاس  */


/*our-team بداية القسم الخامس من الصفحة الرئيسية ضمن كلاس  */

.our-team {
    background-color: #eed5bf;
    padding: 70px 0;
}

.our-team .container h2 {
    display: flex;
    justify-content: center;
    font-family: "Marhey", sans-serif;
    color: rgba(165, 42, 42, 0.663);
    font-size: 38px;

}

.our-team .container .teams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 85px;
    /* text-align: center; */
    cursor: pointer;
    margin-top: 30px;
    padding: 30px;
}

.our-team .container .teams .box-team {
    background-color: rgba(246, 227, 220, 0.488);
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    transition: 1.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.our-team .container .teams .box-team:hover {
    scale: 1.1;
    transform: translate(-10px);
}

/* بداية الحركة الاضافية على المربع انشاء خط من جهة اليمين */
.our-team .container .teams .box-team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}

/* بداية الحركة الاضافية على المربع انشاء خط من جهة اليسار */
.our-team .container .teams .box-team::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}

/*   نهاية الحركة الاضافية على المربع انشاء خط من جهة اليمين  واليسار*/
.our-team .container .teams .box-team:hover::before,
.our-team .container .teams .box-team:hover::after {
    border-radius: none;
    height: 100%;
}

.our-team .container .teams .box-team .img-social {
    display: flex;
}

.our-team .container .teams .box-team .social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.our-team .container .teams .box-team .social i {
    background-color: #793a3263;
    color: black;
    border-radius: 60%;
    font-size: 25px;
    transition: 0.3s;
    position: relative;
    right: 4px;
}

.our-team .container .teams .box-team .social i:hover {
    color: var(--main-color-alt);
    background-color: var(--main-color);
    border-radius: 90%;
    font-size: 32px;
}

.our-team .container .teams .box-team .img-social img {
    width: 86%;
    height: 190px;
    position: relative;
    right: 9px;
    top: 4px;
    border-radius: 30px;
}

.our-team .container .teams .box-team .nema-team {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    color: var(--main-color);
    font-family: "Playpen Sans Arabic", cursive;
}

/* بداية التحديد على حسب مقاسات الشاشات */


/*بداية تحديد على مقاس شاشة لابتوب  */
@media (min-width:1200px) {
    .our-team .container .teams {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 88px;
        padding: 0 65px 0 0;
        position: relative;
        left: 30px;
    }

    .our-team .container .teams .box-team .img-social img {
        width: 88%;
        position: relative;
        right: 16px;
    }

    .our-team .container .teams .box-team .social i {
        font-size: 30px;
        position: relative;
        right: 8px;
    }

}

/*نهاية تحديد على مقاس شاشة لابتوب  */

/* نهاية التحديد على حسب مقاسات الشاشات */

/*our-team نهاية القسم الخامس من الصفحة الرئيسية ضمن كلاس  */

/*.testimonials بداية القسم السادس من الصفحة الرئيسية ضمن كلاس  */
.testimonials {
    background-color: #eed5bf;
    padding: 30px 0 60px 0;
}

.testimonials .container h2 {
    display: flex;
    justify-content: center;
    font-family: "Marhey", sans-serif;
    color: rgba(165, 42, 42, 0.663);
    font-size: 38px;
}

.testimonials .container .all-testimonials {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 80px;
}

.testimonials .container .all-testimonials .testimonial {
    background-color: rgba(246, 227, 220, 0.488);
    position: relative;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.testimonials .container .all-testimonials .testimonial:hover {
    border: 3px solid var(--main-color);
    transform: translatey(-5px);
}

.testimonials .container .all-testimonials .testimonial img {
    position: absolute;
    width: 90px;
    height: 100px;
    border-radius: 50%;
    left: -6px;
    top: -45px;
    border: 5px solid rgba(246, 227, 220, 0.488);

}

.testimonials .container .all-testimonials .testimonial h3 {
    color: rgb(87, 42, 42);
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Playpen Sans Arabic", cursive;
}

.testimonials .container .all-testimonials .testimonial .testimonial-type {
    margin-bottom: 15px;
    color: var(--main-color);
}

.testimonials .container .all-testimonials .testimonial .stars {
    color: rgb(252, 200, 0);
    text-align: center;
}

.testimonials .container .all-testimonials .testimonial .review {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    text-align: center;
}

/*.testimonials نهاية القسم السادس من الصفحة الرئيسية ضمن كلاس  */
@media (max-width:768px) {
    .testimonials .container .all-testimonials {
        position: relative;
        left: 55px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));


    }
}

/*logon بداية القسم السابع من الصفحة الرئيسية ضمن كلاس  */
.logon {
    background-color: #7a4e3d93;
    border-top: 2px solid var(--main-color);
    height: 300px;
    /* padding: 20px 0; */

}

.logon .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 30px;
    gap: 10px;
}

/* .logon .container .end .v {
    position: relative;
    right: 7px;
    bottom: 30px;
} */

.logon .container .end h2 {
    color: rgba(255, 255, 255, 0.722);
    /* font-family: "Marhey", sans-serif; */
    font-size: 20px;
    position: relative;
    align-items: center;
    /* bottom: 20px; */
}

.logon .container .end p {
    font-size: 15px;
    position: relative;
    bottom: 20px;
    line-height: 1.5;
    font-family: "Alexandria", sans-serif;
    font-weight: bold;
    line-height: 2;

}

.logon .container nav ol h2 {
    position: relative;
    left: 11px;
    bottom: 15px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.722);
    /* font-family: "Marhey", sans-serif; */

}

.logon .container nav ol a {
    color: black;
    font-family: "Alexandria", sans-serif;
    font-weight: bold;
    cursor: pointer;
    /* display: block; */
    transition: 0.5s;
}

/* .logon .container nav ol a:hover {
    color: var(--main-color);
    padding-right: 10px;
    font-weight: bold;

} */

.logon .container .social h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.722);
    /* font-family: "Marhey", sans-serif; */
}

.logon .container .social .name {
    color: rgb(124, 13, 13);
    font-family: "Amiri", serif;
    font-size: 16px;

}

.logon hr {
    position: relative;
    top: 35px;

}

.logon .container .sections h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.722);
    padding: 10px;
}

.log .sections .letter form {
    /* display: grid; */
    /* flex-direction: column; */
}

.sections h2 {
    color: white;
    position: relative;
    bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.log {
    background-color: #7a4e3d93;
}

.log .sections .letter form input[ type="text"],
.log .sections .letter form input[ type="email"] {
    height: 30px;
    position: relative;
    bottom: 20px;
    right: 20px;
    padding: 30px;
    border-radius: 5px;
    caret-color: var(--main-color);
    border: none;
}

.log .sections .letter form input[ type="text"]:focus,
.log .sections .letter form input[ type="email"]:focus {
    outline: none;

}

.log .sections .letter form input[ type="submit"] {
    background-color: rgb(148, 95, 95);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 16px;
    right: 200px;
}

.log .sections .letter form input[ type="submit"]:hover {
    background-color: rgb(89, 19, 19);
    border: 1px solid white;
}


/* بداية التحديد على حسب مقاسات الشاشات */
/* بداية تحديد على مقاس شاشة الجوال  */
@media (max-width:768px) {
    .logon .container .end h2 {
        position: relative;
        font-size: 15px;
        text-align: center;
        bottom: 15px;

    }

    .logon .container .end p {
        width: 120%;
        position: relative;
        left: 13px;
        font-size: 10px;
        text-align: center;
    }

    .logon .container nav ol h2 {
        position: relative;
        left: 15px;
        top: 1px;
        font-size: 10px;


    }

    .logon .container nav ol li {
        width: 160%;
        font-size: 10px;
        position: relative;
        left: 15px;
        top: 15px;
    }

    .logon .container .social h2 {
        font-size: 12px;
        position: relative;

        text-align: center;
    }

    .logon .container .social p {
        position: relative;
        bottom: 20px;
        font-size: 10px;
        top: 5px;
        right: 16px;
    }

    .logon .container .social a {
        position: relative;
        bottom: 20px;
        font-size: 10px;
        top: 5px;
        right: 10px;

    }

}


/*نهاية تحديد على مقاس شاشة جوال  */

/*بداية تحديد على مقاس شاشة لابتوب  */
@media (min-width:1200px) {
    .logon .container .end p {
        width: 50%;
        position: relative;
        bottom: 10px;
        line-height: 1.9;

    }

    .logon .container nav ol h2 {
        position: relative;
        left: 230px;
        top: 10px;
        font-size: 25px;

    }

    .logon .container nav ol li {
        position: relative;
        left: 220px;
        width: 200%;
        font-size: 15px;
        line-height: 2;
        top: 17px;


    }

    .logon .container .social {
        position: relative;
        left: 50px;
        bottom: 5px;

    }

    .logon .container .sections h2 {
        position: relative;
        bottom: 10px;
    }

    .log .sections .letter form input[ type="text"] {
        position: relative;
        bottom: 10px;
        right: 530px;

    }

    .log .sections .letter form input[ type="email"] {
        position: relative;
        bottom: 10px;
        right: 540px;

    }

    .log .sections .letter form input[ type="submit"] {
        position: relative;
        right: 550px;

    }
}

/*نهاية تحديد على مقاس شاشة لابتوب  */

/* نهاية التحديد على حسب مقاسات الشاشات */

/*logon نهاية  القسم السادس من صفحة الرئيسية ضمن كلاس  */

/*  بداية ايقونة الواتس  */
.btn-whatspp {
    position: fixed;
    font-size: 40px;
    bottom: 30px;
    left: 30px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0 3px white;
}

.btn-whatspp:hover {
    scale: 1.1;
    /* transform: translatey(-5px); */
}

/* نهاية ايقونة الواتس  */

/* نهاية الصفحة الاول  */

/* header {
    height: 2500px;
} */

/* بداية الصفحة التالية */
/* بداية القسم الاول */
.top_header {
    background-color: #7a4e3d93;
    border: 2px solid rgba(0, 0, 0, 0);
    /* height: 80px; */
}

.left_header a {
    margin-right: 9px;
    color: rgba(255, 255, 255, 0.607);
    /* margin-right: 70px; */
    transition: all 0.3s;
}

@media (min-width:1281px) {
    .left_header a {
        padding: 0 45px;
    }


}

.left_header a:hover {
    color: brown;
}

/* نهاية القسم الاول */

/* بداية القسم الثاني */
.nav-link {
    font-weight: bold !important;
    margin-left: 10px;
    margin-right: 50px;
    color: black;

}

/* نهاية القسم الثاني */

/* بداية القسم الرابع */
.cat {
    background: linear-gradient(135deg, #F5E6D3 0%, #FDE2E4 100%);
    border-radius: 5%;
}

.cat img {
    transform: all 0.3s;
    border-radius: 5%;
}

.cat:hover img {
    scale: 1.1;
}

.colornames {
    color: rgba(57, 25, 25, 0.499);
    font-family: "Playpen Sans Arabic", cursive;
    font-size: 18px;

}

.colornames:hover {
    color: black
}

/* نهاية القسم الرابع */

/*  بداية القسم الخامس */
.card {
    background-color: rgba(255, 255, 255, 0.362);
}

.product-info h3 {
    color: rgb(87, 42, 42);
    font-family: "Playpen Sans Arabic", cursive;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.product-info p {
    line-height: 1.3;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.stars {
    color: rgb(252, 200, 0);
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
    font-size: 19px;
    color: rgb(113, 31, 31);
    font-family: "Playpen Sans Arabic", cursive;
    font-weight: 500;
}

.quick-icons {
    position: absolute;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.314);
    right: -45px;
    top: 15px;
    height: 150px;
    width: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;

}

.quick-icons i {
    font-size: 18px;
    color: rgba(255, 0, 0, 0.468);
}

.product:hover .quick-icons {
    right: 0;
}

.test {
    margin-right: 170px;
}

/*  */
@media (min-width:1281px) {
    .test {
        margin-right: 130px;
    }

}

/*  */

/*  */
.btns-quantity button,
.btns-quantity button:hover {
    border: 1px solid #eee;
}

.mini-card {
    background-color: rgba(255, 212, 196, 0.589);
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.mini-card p {
    font-weight: bold !important;
}

.mini-card img {
    border-radius: 5px;
}

.btns-quantity-mini button {
    background-color: white !important;
    border: 1px solid #ccc;
}

.row-min-card {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(137, 72, 72);
}

.alert a {
    color: red;
}

/*  */

/* نهاية القسم الخامس */

/* بداية القسم السادس */


.ad {
    border-radius: 10px !important;
    cursor: pointer;
}

.ad img {
    transition: 0.3s;

}

.ad:hover img {
    scale: 1.1;
}

.ad .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.531);
    z-index: 100 !important;
}

.ad .ad-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 101 !important;
}

.ad .ad-info h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Almarai;
}

.ad .ad-info p {
    color: white;
}

/* نهاية القسم السادس */


/* .log .container nav {
    position: relative;
    top: 20px;
    right: 15px;
    cursor: pointer;
} */

/* .log .container nav i:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    align-items: start;
}

.log .container nav ul a {
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 20px;
    color: rgb(208, 59, 9);
    transition: 0.3s;
}

.log .container nav ul a.active,
.log .container nav ul a:hover {
    color: var(--main-color-alt);
    background-color: var(--main-color);
    border-radius: 60%;
}

@media (max-width:768px) {
    .log .container nav ul {
        display: none;
    }
}

@media (min-width:768px) {
    .log .container nav ul {
        display: none;
    }

}

/* قسم الجافا سكربت */
/* .mobile-navl {
    display: flex ! important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    width: 100%;
    transition: 0.3s;

}  */

/* نهاية الصفحة التالية */

/*  بداية صفحة المنتج */

/* بداية القسم الثالث*/
.carousel-img {
    position: absolute !important;
    display: flex !important;
    flex-direction: column !important;
    right: -170px !important;
    top: 30px !important;
    gap: 10px !important;
}

.img_slider {
    width: 100px !important;
    height: 100px !important;
    border-radius: 15px;
    border: 1px solid pink !important;
}

@media (max-width:768px) {
    .carousel-img {
        right: -280px !important;
        top: 50px !important;
    }

    .img-mobile {
        width: 350px !important;
        left: 100px !important;
        top: 15px !important;
    }

    .tests {
        margin-right: 190px !important;
        position: relative !important;
        top: 20px !important;
    }

    .btnns {
        margin-right: 25px !important;
    }

}

@media (min-width:1281px) {

    .tests {
        margin-right: 220px;
    }

    .btnns {
        margin-right: 50px;
    }
}

/* نهاية القسم الثالث */

/* بداية القسم الرابع*/
.title_bar,
.title_review,
.title_reviews,
.title_reviewss {
    font-family: "Playpen Sans Arabic", cursive;
    font-weight: bold;
    color: rgba(165, 42, 42, 0.663);
}

@media (max-width:768px) {

    .title_reviews {
        margin-right: 80px !important;
    }

    .title_reviewss {
        margin-right: 110px !important;
    }
}

@media (min-width:1281px) {
    .title_bar {
        margin-right: 60px !important;
        margin-bottom: 50px !important;
    }

    .title_reviews {
        margin-right: 200px !important;
    }

    .title_reviewss {
        margin-right: 250px !important;
    }
}

@media (max-width: 768px) {

    .new-products .swiper .product-info h3 {
        font-size: 14px;

    }

    /* تحديد حجم العنوان الثاني */
    .new-products .swiper .product-info p {

        line-height: 1.5;
        font-size: 13px;
        padding-left: 13px;
        padding-right: 12px;
        font-weight: 700;
    }
    

}

@media (min-width:1281px) {
    .new-products .swiper .product-info h3 {
        font-size: 18px;

    }

    /* تحديد حجم العنوان الثاني */
    .new-products .swiper .product-info p {

        line-height: 1.5;
        font-size: 16px;
        padding-left: 13px;
        padding-right: 12px;
        font-weight: 700;


    }
}

/* نهاية القسم الرابع*/


/*بداية صفحة قسم العطور  */
.bunner {
    background-color: #fde2e455;
    padding-top: 30px;
    padding-bottom: 7px;
    border-bottom: 1px dashed rgba(101, 54, 54, 0.345);
}

.category-title {
    font-family: "Playpen Sans Arabic", cursive;
    font-weight: bold;
    color: rgba(165, 42, 42, 0.663);
    text-align: center;

}

/*نهاية صفحة قسم العطور  */

/*بداية صفحة قسم سلة المشتريات  */
.summary p {
    font-weight: bold;

}

@media (max-width:768px) {
    .title-cart p {
        position: relative;
        top: 49px;

    }

    .title-cart1 {
        position: relative;
        right: 60px;
    }

    .title-cart2 {
        position: relative;
        right: 110px;
    }

    .title-cart3 {
        position: relative;
        right: 160px;
    }

    .parfan {
        position: relative;
        top: 6px;

    }

    .summary {
        margin-top: 50px;
        margin-right: 30px;

    }

    .summary h4 {
        margin-right: 130px;

    }

    .titles {
        margin-top: 50px;
        margin-right: 20px;

    }

    .user-info {
        margin-right: 40px;
    }



}

@media (min-width:1281px) {
    .title-cart p {
        margin-right: 210px;
        position: relative;
        top: 29px;

    }

    .title-cart1 {
        position: relative;
        left: 30px;
    }

    .title-cart2 {
        position: relative;
        left: 130px;
    }

    .title-cart3 {
        position: relative;
        left: 230px;
    }

    .summary {
        margin-top: 50px;

    }

    .summary {
        margin-right: 70px;

    }

    .summary h4 {
        padding: 30px;

    }

    .titles {
        margin-top: 100px;
        margin-right: 30px;
    }
}

/*نهاية صفحة قسم سلة المشتريات  */
.user-info {
    background-color: rgba(255, 212, 196, 0.589);
}